.footer {
  background-color: #222;
  height: 30vh;
  padding: 3rem 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.contact {
  border-bottom: 1px solid white;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.phone,
.address {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
