.faq {
  width: 50%;
}

@media (max-width: 1400px) {
  .faq {
    width: 60%;
  }
}

@media (max-width: 1000px) {
  .faq {
    width: 70%;
  }
}

@media (max-width: 900px) {
  .faq {
    width: 80%;
  }
}

@media (max-width: 700px) {
  .faq {
    width: 87%;
  }
}

@media (max-width: 550px) {
  .faq {
    width: 95%;
    margin: 4rem 0;
  }
}
