.gallerySection {
  background: rgb(0, 212, 255);
  background: radial-gradient(circle, rgba(0, 212, 255, 1) 20%, rgba(0, 166, 187, 1) 83%);
  padding: 5rem 0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 10rem;
}